html {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
body {
    background-image: url(sickbay-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.quote {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    padding: 1rem;
}